<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829306801119-l448r3pmo7pb5igtfn74aaup2fp2c2eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829306801119-l448r3pmo7pb5igtfn74aaup2fp2c2eq</string>
	<key>API_KEY</key>
	<string>AIzaSyBRqB8HtnB3FNbUYCiD-ga0TRIw8MM7IrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>829306801119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dapp</string>
	<key>PROJECT_ID</key>
	<string>manufacturing-tracker-ethereum</string>
	<key>STORAGE_BUCKET</key>
	<string>manufacturing-tracker-ethereum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829306801119:ios:3bdbd4679845840507926a</string>
</dict>
</plist>